/* Landing Page */

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

#index-page {
    margin: 0;
    padding: 0;
    background-color: #ff9d2d;
}

.container {
    padding: 0;
}

.containerButton {
    margin-top: 40vh;
    width: 10vw;
}

.button {
    margin-top: 30px;
    height: 100px;
    width: 100px;
    border-radius: 30px;
}
.fas {
    font-size: 50px;
    color: #ff9d2d;
}

/* Game Page */

#board {
    position: relative;
    margin: auto;
    top: 20%;
    width: 600px;
    height: 600px;
    background-color: rgb(255, 138, 29);
}

#boardPadding {
    height: 100%;
    width: 100%;
    padding: 2.5%;
}

.row {
    width: 95%;
    height: 11.875%;
    display: flex;
}

.square {
    height: 100%;
    width: 12.5%;
}

.squarelight {
    background-color: rgb(250, 229, 210);
}

.squaredark {
    background-color: rgb(107, 105, 105);
}