@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
/* ---------------------------------------- Landing Page ------------------------------------------*/

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

#index-page {
    margin: 0;
    padding: 0;
    background-color: #ff9d2d;
}

.container {
    position: relative;
    top: 40vh;
    height: 20vh;
    width: 20vw;
    margin:0 auto;
    text-align: center
}

.button {
    height: 100px;
    width: 200px;
    font-family: 'Comforta', sans-serif;
    font-size: 50px;
    font-weight: 700;
    background-color: white;
    color: rgb(255, 115, 0);
    border-radius: 30px;

}

.button:hover {
    background-color: rgb(255, 115, 0);
    color: white;
    border: 1px solid white;
}


/* -------------------------------------------- Game Page -------------------------------------------- */


#board {
    position: relative;
    margin: auto;
    top: 20%;
    width: 600px;
    height: 600px;
    background-color: rgb(226, 111, 17);
}

#boardPadding {
    height: 100%;
    width: 100%;
    padding: 2.5%;
}

.row {
    width: 95%;
    height: 11.875%;
    display: flex;
}

.tile {
    height: 100%;
    width: 12.5%;
    text-align: center;
}

.tileLight {
    background-color: rgb(255, 123, 35);
}

.tileDark {
    background-color: rgb(80, 80, 80);
}

.tileSelected {
    outline: 4px solid rgb(255, 182, 134);
    position: relative;
    z-index: 1;
}


/* -------------------------------------------- Pawn Pieces --------------------------------------------*/


.darkPiece {
    color: black;
    font-size: 60px;
    margin-top: 5px;
}

.lightPiece {
    color: white;
    font-size: 60px;
    margin-top: 5px;
}